@import "../styles/app.scss";

@layer utilities {
    ::-webkit-scrollbar {
        width: 4px;
    }
    
    ::-webkit-scrollbar-thumb {
        background: var(--color-gray-200); /* Thumb color */
        border-radius: 8px; /* Rounded corners */
    }
    
    .no-scrollbar::-webkit-scrollbar {
        display: none;
      }

    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}